{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
</head>

<body>
    <div class="bodyback">
        {% comment %} <button class="button">
            <div></div>
        </button> {% endcomment %}
        <div class="namebox">
            <div class="icon"></div>
            <h1 style="left:20px; position: relative; font-size: 3.6rem;">{{object.user_name_s}}</h1>
            <div style="position: relative;left: 60px; font: 2.5rem bold; ">{{object.user_id_s}}</div>
        </div>
        <h2 style="position:relative; left:50px">Description:</h2>
        <h2 style="position:relative; left:50px">{{object.user_description_s}}</h2>
        <h2 style="position:relative; left:50px"><br>Password:</h2>
        <h2 style="position:relative; left:50px">{{object.user_password_s}}</h2>
        <h2 style="position:relative; left:50px">{{object.user_birth_s}}</h2>
    </div>
</body>

</html>