.maintext {
    text-align:center;
    color: #c0c0c0;
    position: relative;
    top: 84px;
    font-size: 17px;
    font-family: monospace;
}

.container{
    margin: 0 auto;
    position: relative;
		top: 73px;
    background-color: #ededed;
    width: 570px;
    height: 410px;
    box-shadow: 20px 20px 20px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    box-shadow:  35px 35px 70px #c9c9c9;
}

.entry {
    width: 400px;
    height: 45px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 30px;
    background: #ededed;
    box-shadow: inset 10px 10px 16px #b4b4b4,
                inset -10px -10px 16px #ffffff;
    font-family: monospace;
    font-size: 15px;
    padding-left: .8rem;
}

.usernametextsignup {
    position: absolute;
        top: 5%;
        left: 20%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.usernameentrysignup {
    position: absolute;
        top: 10%;
        left: 13%;
}

.emailtext {
    position: absolute;
        top: 25%;
        left: 17%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.emailentry {
    position: absolute;
        top: 30%;
        left: 13%;
}

.passwordtext {
    position: absolute;
        top: 45%;
        left: 19%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.passwordentry {
    position: absolute;
        top: 50%;
        left: 13%;
}

.errortext {
    position: absolute;
        top: 82%;
        left: 45%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
}

.cofirmedpasswordtext {
    position: absolute;
        top: 65%;
        left: 28%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.cofirmedpasswordentry {
    position: absolute;
        top: 70%;
        left: 13%;
}

.button {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 250px;
    height: 60px;
    border: 1px lightgrey solid;
    border-radius: 24px;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow:  10px 10px 20px #cccccc,
                -10px -10px 20px #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 250px;
    height: 60px;
    border: 1px lightgrey solid;
    border-radius: 24px;
    background: #ededed;
    box-shadow:  10px 10px 20px #cccccc,
                -10px -10px 20px #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}
.button:active {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 250px;
    height: 60px;
    border: 1px lightgrey solid;
    border-radius: 24px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow:  10px 10px 20px #cccccc,
                -10px -10px 20px #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.usernametextlogin {
    position: absolute;
        top: 15%;
        left: 20%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.usernameentrylogin {
    position: absolute;
        top: 20%;
        left: 13%;
}

.passwordtextlogin {
    position: absolute;
        top: 45%;
        left: 20%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}
.passwordentrylogin {
    position: absolute;
        top: 50%;
        left: 13%;
}

.loginsignupbutton {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 50px;
    height: 20px;
    color: 1e90ff;
    font-family: monospace;
    font-weight: bold;
    font-size: 7px;
    cursor: pointer;
}
.loginsignupbutton:hover {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 50px;
    height: 20px;
    color: 1e90ff;
    font-family: monospace;
    font-weight: bold;
    font-size: 7px;
    cursor: pointer;
}
.loginsignupbutton:active {
    position: absolute;
        top: 90%;
        left: 27%;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background: color(0, 191, 255, 0.2);
    font-family: monospace;
    font-weight: bold;
    font-size: 7px;
    cursor: pointer;
}